{% render 'partials/head.liquid' %}

<section class="timeline">
    <div class="timeline-container">
        <div class="timeline-text-content">
            <h2 class="timeline-title">HTML</h2>
            <p class="timeline-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien
                eget nunc accumsan bibendum. Sed at ligula a nunc efficitur efficitur.</p>
        </div>
    </div>

    <div class="timeline-container">
        <div class="timeline-text-content">
            <h2 class="timeline-title">HTML</h2>
            <p class="timeline-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien
                eget nunc accumsan bibendum. Sed at ligula a nunc efficitur efficitur.</p>
        </div>
    </div>

    <div class="timeline-container">
        <div class="timeline-text-content">
            <h2 class="timeline-title">HTML</h2>
            <p class="timeline-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel sapien
                eget nunc accumsan bibendum. Sed at ligula a nunc efficitur efficitur.</p>
        </div>
    </div>
</section>