{% render 'partials/head.liquid' %}

<section class="timeline" hidden>
    {% comment %} <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2> {% endcomment %}
    {% render 'partials/timeline-component.liquid', timelineItems: timelineItems %}

</section>

<section class="quiz">
    <card><button>1</button></card>

</section>

{% render 'partials/foot.liquid' %}

{% comment %}
{% for block in timelineItem.content_blocks %}
<p>{{ block.text }}</p>
{% endfor %} {% endcomment %}