{% render 'partials/head.liquid' %}

<section class="timeline" hidden>
    {% comment %} <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2> {% endcomment %}
    {% render 'partials/timeline-component.liquid', timelineItems: timelineItems %}

</section>

<section class="quiz">
    <card>
        <button class="back-btn">Terug</button>
        <span class="question-progress">Vraag 1/10</span>
        <h2>Vraag</h2>
        <fieldset>
            <button type="radio">A:</button>
            <button type="radio">B:</button>
            <button type="radio">C:</button>
            <button type="radio">D:</button>
        </fieldset>

        <p>Korte uitleg</p>
        <button class="next-btn">Volgende</button>


    </card>


</section>

{% render 'partials/foot.liquid' %}

{% comment %}
{% for block in timelineItem.content_blocks %}
<p>{{ block.text }}</p>
{% endfor %} {% endcomment %}