{% render 'partials/head.liquid' %}

<section class="timeline">
    <div class="timeline-container">
        <aside class="timeline-year">
            <h4>1745</h4>
            <h4>1745</h4>
            <h4>1745</h4>
        </aside>
        <div class="article-container">
            <article class="timeline-article">
                <time datetime="1745">1745</time>
                <h3>Uitvinding van de Leidse fles</h3>
                <p>Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote
                    Elektriseermachine niet mogelijk zijn geweest. Dit is de technische basis.</p>
                <img src="/assets/placeholder.jpg">
            </article>
            <article class="timeline-article">
                <time datetime="1745">1745</time>
                <h3>Uitvinding van de Leidse fles</h3>
                <p>Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote
                    Elektriseermachine niet mogelijk zijn geweest. Dit is de technische basis.</p>
                <img src="/assets/placeholder.jpg">
            </article>
            <article class="timeline-article">
                <time datetime="1745">1745</time>
                <h3>Uitvinding van de Leidse fles</h3>
                <p>Zonder de Leidse fles, een vroege “batterij” om elektriciteit op te slaan, zou de Grote
                    Elektriseermachine niet mogelijk zijn geweest. Dit is de technische basis.</p>
                <img src="/assets/placeholder.jpg">
            </article>
        </div>

    </div>

</section>