{% render 'partials/head.liquid' %}

<section class="timeline">
    <h2 class="section-title">Timeline van de Grote Elektriseermachine</h2>
    {% render 'partials/timeline-component.liquid', timelineItems: timelineItems %}

</section>

{% render 'partials/foot.liquid' %}

{% comment %}
{% for block in timelineItem.content_blocks %}
<p>{{ block.text }}</p>
{% endfor %} {% endcomment %}

{% comment %} <details style=" padding: 1rem; color: white;">
    <summary>JSON</summary>
    {{ timelineItems | json }}
</details> {% endcomment %}