.quiz {
    display: grid;
    place-items: center;
    overflow-x: clip;
}

.quiz-card {
    grid-area: 1/1;
    width: 18em;
    height: 30em;

    /* display: grid;
    place-items: center; */
    background-color: var(--tertiary-color);
    z-index: calc(sibling-count() - sibling-index());

    @media (min-width: 768px) {
        width: 30em;
        height: 18em;
    }

}

.quiz-card:nth-child(1 of :not(.gone)) {
    rotate: 0deg;
    /* filter: brightness(1) grayscale(0); */
    interactivity: auto;
}

.quiz-card:nth-child(2 of :not(.gone)) {
    rotate: 4deg;
    /* filter: brightness(1.1) grayscale(.33); */
}

.quiz-card:not(.gone) {
    rotate: 8deg;
    /* filter: brightness(1.2) grayscale(.67); */
    interactivity: inert;
}

.quiz-card {
    transition:
        opacity .5s .5s,
        translate 1s,
        rotate 1s .125s;

    &.gone {
        opacity: 0;
    }

    &.left {
        translate:
            calc(-50vw - 100% - var(--delta-x, 0) * 1px) calc(var(--delta-y, 0) * 1px);
    }

    &.right {
        translate:
            calc(50vw + 100% + var(--delta-x, 0) * 1px) calc(var(--delta-y, 0) * 1px);
    }
}

.quiz-card:hover {
    cursor: grab;
}

.quiz-card.dragging {
    cursor: grabbing;
    transition: 0s;
    translate: calc(var(--delta-x, 0) * 1px) calc(var(--delta-y, 0) * 1px);
}

.question-explanation-container {
    margin-top: 1em;
    position: relative;
    padding-top: 1em;
}

.quiz-options:has([data-correct="true"]:checked)~.question-explanation-container .question-explanation-correct {
    display: block;
}

.quiz-options:has(:checked):not(:has([data-correct="true"]:checked))~.question-explanation-container .question-explanation-wrong {
    display: block;
}

.quiz-question:has(.quiz-options :checked) .question-explanation-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 33%;
    height: 1px;
    background-color: red;
}