.timeline {
    .timeline-component {
        position: relative;
        margin: auto;


        @media (min-width: 768px) {
            /* width: 75%; */


            .timeline-item:nth-child(even) .timeline-article {
                direction: rtl;
            }

            .timeline-item:nth-child(even) .timeline-article>* {
                direction: ltr;
            }
        }

        /* timeline-line */
        &&::before {
            content: "";
            position: absolute;
            top: 0;
            left: 20%;
            width: 2px;
            height: 100%;
            background-color: var(--tertiary-color);

            @media (min-width: 768px) {
                /* display: none; */
                left: 50%;
            }
        }

        /* @media (min-width: 768px) {
            display: grid;
        } */

        .timeline-item {
            display: grid;
            grid-template-columns: 20% 80%;
            column-gap: 1em;
            overflow: hidden;
            padding-top: 3em;
            color: var(--tertiary-color);

            @media (min-width: 768px) {
                display: block;
            }

            .timeline-year {
                text-align: center;
                font-weight: 400;
                font-style: italic;
                position: relative;


                display: flex;
                justify-content: center;
                align-items: center;

                &::after {
                    content: "";
                    position: absolute;
                    right: -.5px;
                    top: 50%;
                    transform: translate(50%, -50%);
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: var(--tertiary-color);
                    border: 5px solid var(--primary-color);
                }

                @media (min-width: 768px) {
                    display: none;
                }
            }

            .timeline-article {
                display: flex;
                flex-direction: column;
                gap: .8em;
                position: relative;

                @media (min-width: 768px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 3em;
                    align-items: center;

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50.2%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: var(--tertiary-color);
                        border: 5px solid var(--primary-color);
                        z-index: 10;
                    }

                }



                .timeline-article-content {
                    display: flex;
                    flex-direction: column;
                    gap: .8em;

                    date {
                        font-weight: 400;
                    }

                    /* .timeline-title {
                        font-weight: 600;
                    } */

                    .timeline-summary {
                        font-weight: 200;
                        max-width: 90%;

                        @media (min-width: 768px) {
                            max-width: 100%;
                        }
                    }
                }

                .timeline-article-image {
                    img {
                        width: 100%;
                        height: 200px;
                        object-fit: cover;

                        @media (min-width: 768px) {
                            height: 350px;
                        }
                    }
                }



            }
        }
    }

}