@font-face {
    font-family: "Bitter";
    src: url('../fonts/Bitter.ttf') format('truetype');
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.ttf') format('truetype');
}

:root {
    --primary-color: #123139;
    --secondary-color: #FFC900;
    --tertiary-color: #F7ECDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: "Bitter", serif;
    line-height: 1.3;
    font-weight: 600;
}

h3 {
    font-size: clamp(1.25rem, 3vw, 1.5rem);

}

section {
    padding: 50px 15px;

    @media (min-width: 768px) {
        padding: 50px 50px;
    }
}

fieldset {
    border: none;
}

.primary-button {
    font-size: 1rem;
    padding: .5em 1.2em;
    background-color: var(--secondary-color);
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    transition: .2s;

    &:hover {
        scale: 0.97;
        background-color: #d6a700;

    }
}