:root {
    --primary-color: #123139;
    --secondary-color: #FFC900;
    --tertiary-color: #F7ECDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
}

section {
    margin: 50px 0;
}