@font-face {
    font-family: "Bitter";
    src: url('../fonts/Bitter.ttf') format('truetype');
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter.ttf') format('truetype');
}

:root {
    --primary-color: #123139;
    --secondary-color: #FFC900;
    --tertiary-color: #F7ECDC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Bitter", serif;

}

section {
    padding: 50px 15px;
}